[Unit]                                                                        
Description=Display Service                                                   
After=systemd-user-session.service                                            
                          
[Service]                 
User=opendsp
Group=opendsp
Environment="XAUTHORITY=/tmp/.Xauthority"
ExecStart=xinit /home/opendsp/.xinitrc -- /usr/bin/X :0 -auth /tmp/.Xauthority -logfile /tmp/Xorg.0.log
 
[Install]
WantedBy=multi-user.target
