[Unit]
Description=OpenDSP Remote Control Service

[Service]
Type=idle
User=opendsp
Group=opendsp
WorkingDirectory=/home/opendsp/
ExecStart=/usr/bin/opendspd
Environment="XAUTHORITY=/tmp/.Xauthority"
Environment="TERM=xterm-256color"
StandardOutput=syslog
StandardError=syslog
LimitRTPRIO=infinity
LimitMEMLOCK=infinity
LimitRTTIME=infinity
TasksMax=infinity
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target