appdirs==1.4.4
CacheControl==0.12.6
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
colorama==0.4.3
contextlib2==0.6.0.post1
Cython==0.29.19
decorator==4.4.2
distlib==0.3.0
distro==1.5.0
filelock==3.0.12
html5lib==1.0.1
idna==2.9
input2midi==0.8.0
JACK-Client==0.5.2
mididings==2015+rbbec99a
msgpack==1.0.0
ordered-set==3.1.1
packaging==20.4
pep517==0.8.2
Pillow==6.2.1
ply==3.11
progress==1.5
psutil==5.7.0
pycparser==2.20
pyliblo==0.10.0
pyparsing==2.4.7
pyserial==3.4
python-rtmidi==1.4.1
pytoml==0.1.21
requests==2.23.0
retrying==1.3.3
six==1.15.0
toml==0.10.1
tornado==6.0.4
urllib3==1.26.5
virtualenv==20.0.21
webencodings==0.5.1
wiringpi==2.60.0
